<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.schnellp.mycapnutrition">

    <application
        android:name=".MyCapNutrition"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.schnellp.mycapnutrition.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.JournalDayView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RecordView"
            android:label="@string/title_activity_record_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SelectFood"
            android:label="@string/title_activity_select_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.AddFood"
            android:label="@string/title_activity_add_food"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".view.AddUnit"
            android:label="@string/title_activity_add_unit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.UnitList"
            android:label="@string/title_activity_unit_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".view.RecipeForm"></activity>
    </application>

</manifest>